@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    /* colors */
    /* primary */
    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    /* neutral */
    /* light theme */
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);
    /* dark theme */
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue2: hsl(234, 39%, 85%);
    --light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dark-grayish-blue2: hsl(234, 11%, 52%);
    --very-dark-grayish-blue2: hsl(233, 14%, 35%);
    --very-dark-grayish-blue3: hsl(237, 14%, 26%);

    /* fonts */
    --josefina-sans: 'Josefin Sans', sans-serif;
}

.theme-dark {
    --bg-top-image: 0 0 url(../../assets/images/bg-desktop-dark.jpg) no-repeat;
    --font-color: var(--light-grayish-blue);
    --font-color-hover: #FFF;
    --main-bg: var(--very-dark-blue);
    --todo-bg: var(--very-dark-desaturated-blue);
    --todo-shadow: var(--very-dark-grayish-blue-blue);
    --line-color: var(--very-dark-grayish-blue3);
    --font-filter-color: var(--very-dark-grayish-blue2);
    --font-color-bottom: var(--very-dark-grayish-blue2);
}

.theme-light {
    --bg-top-image: 0 0 url(../../assets/images/bg-desktop-light.jpg) no-repeat;
    --font-color: var(--very-dark-grayish-blue);
    --font-color-hover: var(--very-dark-blue);
    --main-bg: var(--very-light-gray);
    --todo-bg: var(--very-light-gray);
    --todo-shadow: var(--very-dark-blue);
    --line-color: var(--very-light-grayish-blue);
    --font-filter-color: var(--dark-grayish-blue);
    --font-color-bottom: var(--dark-grayish-blue);
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: var(--josefina-sans);
    font-size: 18px;
    font-weight: 400;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

header, main {
    margin: 0 auto;
    max-width: 505px;
}

header {
    justify-content: space-between;
    padding: 55px 5px 0 2px;
}

body {
    background: var(--bg-top-image);
    background-color: var(--main-bg);
    background-size: contain;
    color: var(--font-color);
}

img {
    max-width: 100%;
}


h1 {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .5rem;
}

.theme-block #theme {
    display: none;
}

.theme-block #theme + label::before {
    background: url(../../assets/images/icon-sun.svg);
    content: '';
    cursor: pointer;
    display: block;
    height: 26px;
    width: 26px;
}

.theme-block #theme:checked + label::before {
    background: url(../../assets/images/icon-moon.svg);
}

.add-new-item {
    background: var(--todo-bg);
    border-radius: 5px;
    height: 60px;
    margin: 17px 0 1px;
}

.add-new-item #addItem {
    background: transparent;
    border: 0;
    caret-color: var(--bright-blue);
    color: var(--font-color);
    font: 400 17px var(--josefina-sans);
    height: 50px;
    margin-left: 22px;
    margin-top: 3px;
    outline: 0;
    width: 80%;
}

.add-new-item span {
    border: 1px solid var(--line-color);
    border-radius: 50px;
    display: block;
    height: 22px;
    margin-left: 22px;
    width: 22px;
}

.content {
    background: var(--todo-bg);
    border-radius: 5px;
    box-shadow: 0 5px 25px -12px var(--todo-shadow);
    margin: 23px 0 0 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    border-bottom: 1px solid var(--line-color);
    min-height: 60px;
    padding: 0;
    position: relative;
}

ul li .text {
    margin-left: 34px;
}

ul li input[type='checkbox'] {
    cursor: pointer;
    height: 0;
    position: absolute;
    opacity: 0;
    width: 0;
}

ul li label {
    cursor: pointer;
    padding: 0 0 0 35px;
    position: relative;
}

.checkmark {
    height: 22px;
    left: 22px;
    position: absolute;
    top: -5px;
    width: 22px;
}

ul li input[type='checkbox'] ~ .checkmark {
    border: 1px solid var(--line-color);
    border-radius: 50px;
}

ul li input[type='checkbox'] ~ .checkmark:hover {
    background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    border: 0;
    left: 22px;
    padding: 1px;
}

ul li input[type='checkbox'] ~ .checkmark:hover::before {
    content: '';
    background: var(--todo-bg);
    border-radius: 50%;
    display: block;
    height: 23px;
    width: 23px;
}

ul li input[type='checkbox']:checked ~ .checkmark {
    background: center url(../../assets/images/icon-check.svg) no-repeat, linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) ;
}

ul li input[type='checkbox']:checked ~ .text{
    color: var(--line-color);
    text-decoration: line-through;
}

.remove {
    background: url(../../assets/images/icon-cross.svg);
    cursor: pointer;
    display: none;
    height: 18px;
    position: absolute;
    right: 22px;
    top: 20px;
    width: 18px;
}

ul li:hover .remove {
    display: block;
}

.bottom-item {
    background: var(--todo-bg);
    border-radius: 0 0 5px 5px;
    font-size: .8rem;
    height: 40px;
    justify-content: space-between;
    padding: 25px 21px 20px 23px;
}

.bottom-item span {
    font-size: 13px;
}

.filter {
    color: var(--font-filter-color);
    font-weight: 700;
    margin-left: 45px;
}

.filter input[type='radio'] {
    cursor: pointer;
    height: 0;
    opacity: 0;
    padding: 1px;
    position: absolute;
    width: 0;
}

.filter label {
    cursor: pointer;
    padding: 0 8px;
}

.filter label:hover {
    color: var(--font-color-hover);
}

.filter input[type='radio']:checked ~ span {
    color: var(--bright-blue);
}

.item-left {
    color: var(--font-color-bottom);
}

.clear {
    color: var(--font-color-bottom);
    cursor: pointer;
}

.clear:hover {
    color: var(--font-color-hover);
}

.flex-row {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
}

.list-group-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
}